<aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">
                <aside id="sidebar" class="sidebar">

                    <ul class="sidebar-nav" id="sidebar-nav">

                   
                            <li class="nav-item">
                                <a asp-controller="phongban" class="nav-link ">
                                    <i class="bi bi-person-square"></i>
                                    <span>Quản lý phong ban</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Nhanvien" class="nav-link ">
                                    <i class="bi bi-person-check"></i>
                                    <span>Quản lý nhan vien</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Attendance" class="nav-link ">
                                    <i class="bi bi-person-check"></i>
                                    <span>Quản lý chấm công</span>
                                </a>
                            </li>
                    </ul>
                </aside>
            </ul>
        </aside><!-- End Sidebar-->